body {
  background-color: #ff99a8;
}

h1 {
  color: #ff3352;
  margin-left: 20px;
}
div {
  color:#778899

}
#Lorem {
   padding: 8px;
   background: #ffe6e9;
   height: 150px;
}
#rcorners1 {
  border-radius: 25px;
  background: #ffe6e9;
  padding: 20px;
  height: 150px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #ffe6e9;
  padding: 20px;
  height: 150px;
}
