body {
  background-color: #ff99a8;
}

h1 {
  color: #ff3352;
  margin-left: 20px;
  text-shadow: 2px 2px 5px #800013;
}

div {
  color:#778899

}
#Lorem {
   padding: 8px;
   border-radius: 25px;
   background: #ffe6e9;
   height: 150px;
}
.buttonstyle {
  background-color: #ff0026;
  border-radius: 25px;
  color: #ffccd4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}
